In [18]:
import swat
import os

In [19]:
cashost = 'sas-cas-server-default-client'
casport = 5570
passwordToken = os.environ.get('ACCESS_TOKEN')

In [21]:
conn = swat.CAS(hostname=cashost, port=casport, password=passwordToken)

In [24]:
display(conn)
print(conn.serverstatus())
type(conn)
conn.about()['About']['Viya Version']

CAS('sas-cas-server-default-client', 5570, 'alfonso.then@barna.edu.do', protocol='cas', name='py-session-2', session='94882dc8-8059-774f-850a-4c7e7ab57e09')

NOTE: Grid node action status report: 1 nodes, 101 total actions executed.
[About]

 {'CAS': 'Cloud Analytic Services',
  'Version': '4.00',
  'VersionLong': 'V.04.00M0P03062025',
  'Viya Release': '20251010.1760100479962',
  'Viya Version': 'Long-Term Support 2025.03',
  'Copyright': 'Copyright Â© 2014-2025 SAS Institute Inc. All Rights Reserved.',
  'ServerTime': '2025-11-05T19:18:34Z',
  'System': {'Hostname': 'controller.sas-cas-server-default.viya.svc.cluster.local',
   'OS Name': 'Linux',
   'OS Family': 'LIN X64',
   'OS Release': '5.15.0-1089-azure',
   'OS Version': '#98-Ubuntu SMP Wed Apr 30 21:20:48 UTC 2025',
   'Model Number': 'x86_64',
   'Linux Distribution': 'Red Hat Enterprise Linux release 8.10 (Ootpa)'},
  'license': {'site': 'ENGAGE PLATFORM VIYA ADVANCED',
   'siteNum': 70180938,
   'expires': '31Dec2027:00:00:00',
   'gracePeriod': 0,
   'warningPeriod': 15},
  'CASHostAccountRequired': 'OPTIONAL',
  'Transferred': 'NO',
  'CASCacheLocation': 'CAS Disk Cache'}

[server]

 Server Status

    nodes  actions
 0      1      101

[nodestatus]

 Node Status

                                                 name        role  uptime  running  stalled
 0  controller.sas-cas-server-default.viya.svc.clu...  controller  724.65        0        0

+ Elapsed: 0.000438s, user: 0.000412s, mem: 0.304mb
NOTE: Grid node action status report: 1 nodes, 102 total actions executed.

'Long-Term Support 2025.03'

In [23]:
conn.fileInfo(caslib = 'casuser')

[FileInfo]

    Permission     Owner     Group                              Name      Size Encryption                       Time       ModTime
 0  -rw-r--r--  42344528  42344528            hotels_vienna.sas7bdat    196608             2025-10-30T15:58:32+00:00  2.077459e+09
 1  -rw-r--r--  42344528  42344528            hotels_europe.sas7bdat  33882112             2025-10-31T18:57:22+00:00  2.077556e+09
 2  -rwxr-xr-x  42344528  42344528  NODEOUTPUT_1761915760873.sashdat     32368       NONE  2025-10-31T13:02:59+00:00  2.077535e+09
 3  -rw-r--r--  42344528  42344528         haiti_earthquake.sas7bdat   2097152             2025-10-31T21:04:17+00:00  2.077564e+09

+ Elapsed: 0.00258s, user: 0.000897s, sys: 0.000491s, mem: 0.68mb

In [28]:
import pandas as pd
import numpy as np

conn.read_csv('data/courses/CASL/data/my_data/cars.csv', casout={'name':'cars', 'caslib':'casuser', 'replace':True})

conn.fileInfo(caslib = 'casuser')

NOTE: Cloud Analytic Services made the uploaded file available as table CARS in caslib CASUSER(alfonso.then@barna.edu.do).
NOTE: The table CARS has been created in caslib CASUSER(alfonso.then@barna.edu.do) from binary data uploaded to Cloud Analytic Services.

[FileInfo]

    Permission     Owner     Group                              Name      Size Encryption                       Time       ModTime
 0  -rw-r--r--  42344528  42344528            hotels_vienna.sas7bdat    196608             2025-10-30T15:58:32+00:00  2.077459e+09
 1  -rw-r--r--  42344528  42344528            hotels_europe.sas7bdat  33882112             2025-10-31T18:57:22+00:00  2.077556e+09
 2  -rwxr-xr-x  42344528  42344528  NODEOUTPUT_1761915760873.sashdat     32368       NONE  2025-10-31T13:02:59+00:00  2.077535e+09
 3  -rw-r--r--  42344528  42344528         haiti_earthquake.sas7bdat   2097152             2025-10-31T21:04:17+00:00  2.077564e+09

+ Elapsed: 0.00187s, sys: 0.00107s, mem: 0.678mb

In [30]:
castbl = conn.CASTable('cars', caslib = 'casuser')

display(type(castbl), castbl)

castbl.tableDetails()

df = castbl.head()

display(df)

swat.cas.table.CASTable

CASTable('cars', caslib='casuser')

Selected Rows from Table CARS

    Make           Model   Type Origin DriveTrain     MSRP  Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway
0  Acura             MDX    SUV   Asia        All  $36,945  $33,337         3.5        6.0       265.0      17.0         23.0
1  Acura  RSX Type S 2dr  Sedan   Asia      Front  $23,820  $21,761         2.0        4.0       200.0      24.0         31.0
2  Acura         TSX 4dr  Sedan   Asia      Front  $26,990  $24,647         2.4        4.0       200.0      22.0         29.0
3  Acura          TL 4dr  Sedan   Asia      Front  $33,195  $30,299         3.2        6.0       270.0      20.0         28.0
4  Acura      3.5 RL 4dr  Sedan   Asia      Front  $43,755  $39,014         3.5        6.0       225.0      18.0         24.0